S3method(reset_workspace,p_epsilonBeta)
S3method(reset_workspace,p_go)
S3method(reset_workspace,p_gold)
S3method(reset_workspace,p_meanSlowFast)
S3method(reset_workspace,p_nogo)
S3method(reset_workspace,p_stickyChoice)
S3method(reset_workspace,param)
export(autocorrPrevRT)
export(clock_fit)
export(clock_model)
export(clockdata_group)
export(clockdata_run)
export(clockdata_subject)
export(exploreBeta)
export(go)
export(goForGold)
export(meanRT)
export(meanSlowFast)
export(noGo)
export(reset_workspace)
export(stickyChoice)
exportClasses(clock_fit)
exportClasses(clock_model)
exportClasses(clockdata_group)
exportClasses(clockdata_run)
exportClasses(clockdata_subject)
importFrom(Hmisc,Lag)
importFrom(car,vif)
importFrom(fmri,fmri.design)
importFrom(ggplot2,ggplot)
importFrom(methods,setRefClass)
importFrom(tools,file_ext)
