S3method(reset_workspace,p_epsilonBeta)
S3method(reset_workspace,p_go)
S3method(reset_workspace,p_gold)
S3method(reset_workspace,p_meanSlowFast)
S3method(reset_workspace,p_nogo)
S3method(reset_workspace,param)
export(autocorrPrevRT)
export(exploreBeta)
export(go)
export(goForGold)
export(meanRT)
export(meanSlowFast)
export(noGo)
export(reset_workspace)
exportClasses(clock_fit)
exportClasses(clock_model)
exportClasses(clockdata_group)
exportClasses(clockdata_run)
exportClasses(clockdata_subject)
importFrom(ggplot2,ggplot)
importFrom(methods,setRefClass)
